body{
  width: 100%;
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

a {
  color: #42b983;
}

svg {
  width: 30%;
  height: 30%;
}

.big {
  padding-top: 50px;
  padding-bottom: 50px;
}

.up {
  background-color: #458b00;
}

.up:hover {
  background-color: #376f00;
}

.up:active {
  background-color: #458b00;
}

.down {
  padding: 50px;
  background-color: #cc0000;
}

.down:hover {
  background-color: #8e0000;
}

.down:active {
  background-color: #cc0000;
}

.spacer {
  width: 100%;
  padding: 30px 0;
}

.slider {
  width: 90%;
}
.slider::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    background: #0000;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #4CAF50;
}
