<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rollade</title>

    <style type="text/css">
    	p.up {
    		color: red;
    	}
    	p.down {
    		color: blue;
    	}
    </style>
</head>
<body>
    <a href="/#" id="up-button">hoch</a>
    <a href="/#" id="down-button">runter</a>
    <p id="status"></p>


    <script src= "{{ url_for('static', filename = 'jquery.js') }}"></script>
 	<!-- My Script-->
    <script>
	<!-- $( document ).ready(function() {
 		$.ajax({
			url: "/status",
  			success: function( result ) {
    			$( "#status" ).html( "Rollade is <strong>" + result + "</strong> " );
    			$( "#status" ).addClass(result);
  			}
  		});
    -->
  		$("#down-button").click(function(event) {
  			alert("button clicked")
  			$.ajax({
  			 method: "GET",
  			 url:"/down",
  			 success: function(result) {
  			   $( "#status" ).html( "Rollade is <strong>" + result + "</strong> " );
  			   $( "#status" ).removeClass("up").addClass("down");
  			 }
        });
  		});

  		$("#up-button").click(function(event) {
  		alert("button clicked")
  		$.ajax({
 			  method: "GET",
  		  url:"/up",
        success: function(result) {
			   $( "#status" ).html( "Rollade is <strong>" + result + "</strong> " );
  	     $( "#status" ).removeClass("down").addClass("up");
  			}
  		})
    });
	});

    </script>
</body>
</html>
